<h1 class="mat-h1" mat-dialog-title>Notification</h1>

<div mat-dialog-content>
  <form class="form-container" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Service Center</mat-label>
      <mat-select formControlName="serviceCenter">
        <div *ngIf="showServiceCenter == 'BRASIL'">
          <mat-option value="SSC">Santos Service Center</mat-option>
          <mat-option value="ISC">Itajaí Service Center</mat-option>
        </div>
        <div *ngIf="showServiceCenter == 'PLATE'">
          <mat-option value="BUE">Buenos Aires</mat-option>
          <mat-option value="MVD">Montevideo</mat-option>
          <mat-option value="ASU">Asunción</mat-option>
        </div>
        <div *ngIf="showServiceCenter == 'ALL_ACCESS_COUNTRY'">
          <mat-option value="SSC">Santos Service Center</mat-option>
          <mat-option value="ISC">Itajaí Service Center</mat-option>
          <mat-option value="BUE">Buenos Aires</mat-option>
          <mat-option value="MVD">Montevideo</mat-option>
          <mat-option value="ASU">Asunción</mat-option>
        </div>

      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 49%;padding-right: 2%">
      <mat-label>POL</mat-label>
      <input
        type="text"
        matInput
        formControlName="pol"
        maxlength="5"
        class="upper"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 49%">
      <mat-label>POD</mat-label>
      <input
        type="text"
        matInput
        formControlName="pod"
        maxlength="5"
        class="upper"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Trade</mat-label>
      <input type="text" matInput formControlName="trade" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput formControlName="message"></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="form.getRawValue()"
    cdkFocusInitial
    color="accent"
    [disabled]="!form.valid" >
    Save
  </button>
</div>
